<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/crosstalk.css" />
  </head>
  <body>
    <%- include("crosstalk/crosstalk-one-hero") %>
    <%- include("crosstalk/crosstalk-one-team") %>
    <%- include("crosstalk/crosstalk-one-plan") %>
    <%- include("crosstalk/crosstalk-one-episode-one") %>
    <%- include("crosstalk/crosstalk-one-men-one") %>

   <%- include("crosstalk/crosstalk-one-episode-two") %>
   <%- include("crosstalk/crosstalk-one-men-two") %>
   <%- include("crosstalk/crosstalk-one-episode-three") %>
   <%- include("crosstalk/crosstalk-one-men-three") %>
   <%- include("layout/footer") %>
  
   

  </body>
</html>